@charset "ISO-8859-1";
.corpo{
   background-image: url("../img/sfondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 11%;
    padding-bottom: 11%;

}


.icona{
  width: 110px;
}

#apice {
	margin:0;
	display: flex;
  flex-wrap: wrap;
   justify-content: space-between;
}

.logo {
    width: 150px;
}



.privacy:hover {
    color: red;
  
}

#piepag {
    padding: 15px;
}
#flo{
 background-image: url("../img/sfo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 15%;
  	padding-bottom: 15%;
}

.uno{
	background-color: green;
	margin-left:9%;
	border-color: black;
	border-width: 3px;
	color: black;
}
.due {
		background-color: white;
		border-color: black;
	border-width: 3px;
	
}
.tre{
	background-color: red;
	margin-right:9%;
		border-color: black;
	border-width: 3px;
	color: black;
}