@charset "ISO-8859-1";
.corpo{
   background-image: url("../img/sfondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 9%;
    padding-bottom: 9%;

}
.cors{
	background-image: url("../img/sfondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:105%;
    background-position:botton;
    padding-bottom: 9%;
}
.campo{

	padding-bottom: 20px;
}
.vs {
   border-color: white;
   }
   .vs:hover {
    background-color:white;
   }
   .active:vs{
   background-color:white;
   }
.icona{
  width: 110px;
}

#apice {
	
	display: flex;
 	 flex-wrap: wrap;
   justify-content: space-between;
}

.logo {
    width: 150px;
}



.privacy:hover {
    color: red;
  
}

#piepag {
    padding: 15px;
}
#flo{
 background-image: url("../img/sfo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}


.uno{
		
	padding:280px;

}
.due {
	padding:280px;
	
}
.tre{
		
	padding:250px;

}
#dea{
	
 	width: 220px;
 		
}
#dea1{
	
 	width: 250px;
 		
}
/* headerlaterale */

.desktop-menu {
  display: flex;
  position: relative;
}
  .sidebar {
    position: fixed;
    width: 100%;
    max-width: 75px;
    height: 100vh;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    z-index: 10;
    background-color: c-secondary;
    box-shadow: 0 2px 5px c-shadow-secondary;
    
  }