@charset "ISO-8859-1";
.corpo{
   background-image: url("../img/sfondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 9%;
    padding-bottom: 9%;

}


.icona{
  width: 110px;
}

#apice {
	margin:0;
	display: flex;
  flex-wrap: wrap;
   justify-content: space-between;
}

.logo {
    width: 150px;
}



.privacy:hover {
    color: red;
  
}

#piepag {
    padding: 15px;
}
#flo{
 background-image: url("../img/sfo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}


.uno{
		
	padding:280px;

}
.due {
	padding:280px;
	
}
.tre{
		
	padding:250px;

}
#dea{
	
 	width: 220px;
 		
}
#dea1{
	
 	width: 250px;
 		
}